// VARIABLES

$main-green: rgb(47, 203, 63);
$cursor-color: rgb(180, 250, 187);

// NAVBAR

.menu {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin-left: 70%;
    // position: sticky;
    // top: 0;
    // z-index: 10;

    > li {
        border-bottom: 3px solid transparent;
        list-style-type: none;
        transition-duration: 200ms;
        transition-property: border-bottom;
    }

    li:hover {
        cursor: pointer;
        border-bottom: 3px solid $main-green;
    }
}

// HOME PAGE

.home {
    #sergi-title {
        display: flex;
        justify-content: center;
    }
    > img {
        display: block;
        margin: 0 auto;
        border-radius: 5%;
    }
}